layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
                format_left "{mode} #[fg=#89B4FA,bold]{session}"
                format_center ""
                format_right "{command_git_branch} {datetime}"
                format_space ""
                border_enabled "false"
                border_char "─"
                border_format "#[fg=#6C7086]{char}"
                border_position "top"
                mode_normal       "#[bg=blue,fg=#000000,bold] {name} "
                mode_locked       "#[bg=#FF5555,fg=#000000,bold]  {name} "
                mode_resize       "#[bg=#D75F00,fg=#000000,bold] {name} "
                mode_pane         "#[bg=#89B4FA,fg=#000000,bold] {name} "
                mode_tab          "#[bg=#89B4FA,fg=#000000,bold] {name} "
                mode_scroll       "#[bg=#A6E3A1,fg=#000000,bold] {name} "
                mode_search       "#[bg=#A6E3A1,fg=#000000,bold] {name} "
                mode_enter_search "#[bg=#A6E3A1,fg=#000000,bold] {name} "
                mode_rename_tab   "#[bg=#F5C2E7,fg=#000000,bold] {name} "
                mode_rename_pane  "#[bg=#F5C2E7,fg=#000000,bold] {name} "
                mode_session      "#[bg=#CBA6F7,fg=#000000,bold] {name} "
                mode_move         "#[bg=#FAB387,fg=#000000,bold] {name} "
                mode_tmux         "#[bg=#ffc387,fg=#000000,bold] {name} "
                command_git_branch_command "git rev-parse --abbrev-ref HEAD"
                command_git_branch_format "#[fg=blue] {stdout} "
                command_git_branch_interval "10"
                command_git_branch_rendermode "static"
                datetime "#[fg=#6C7086,bold] {format} "
                datetime_format "%A, %d %b %Y %H:%M"
                datetime_timezone "America/Denver"
            }
        }
    }
    tab {
        pane split_direction="vertical" {
            pane size=18 borderless=true {
                plugin location="file:~/.config/zellij/plugins/zellij-vertical-tabs.wasm" {
                    format "#[fg=muted]{index} #[fg=none]{name}"
                    format_active "#[fg=accent]▶ {index} {name} #[fg=success]{indicators}"
                    indicator_active "●"
                    indicator_fullscreen "□"
                    indicator_sync "⇄"
                    max_name_length 14
                }
            }
            pane borderless=false
        }
    }
}

