layout {
    tab name="opencode-dev" focus=true {
        pane split_direction="horizontal" {
            pane size="80%" split_direction="vertical" {
                pane size="67%" borderless=true command="nvim" {
                    args "."
                }
                pane size="33%" borderless=true command="opencode"
            }
            pane size="20%" borderless=true name="term"
        }
    }
}
