layout {
    tab name="r2x-core" cwd="~/dev/r2x-core/fuzzy"{
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        pane split_direction="vertical" {
            pane borderless=true name="" command="zsh" {
                args "-c" "source .venv/bin/activate && nvim ."
            }
            pane split_direction="horizontal" {
                pane name="test" command="zsh" start_suspended=true {
                    args "-c" "uv run pytest tests/ --tb=short"
                }
                pane name="deps" edit="pyproject.toml"
            }
        }
    }
    tab focus=true name="r2x-plugin" {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
    }
    pane split_direction="vertical" {
        pane borderless=true name="" command="zsh" {
            args "-c" "source .venv/bin/activate && nvim ."
        }
        pane split_direction="horizontal" {
            pane name="test"
            pane name="deps" edit="pyproject.toml"
        }
    }
    }
    tab name="sratch" {
        pane
    }
}
