* {
    font-family: "JetBrainsMono Nerd Font Mono";
    font-size: 14px;
    color: #edf2f4;
}

window#waybar {
    background: rgba(39, 53, 61, 0.94);
    border: 1px solid rgba(80, 132, 207, 0.45);
    border-radius: 7px;
    padding: 2px 4px;
    margin: 4px;
}

#waybar > * {
    padding: 0 4px;
    margin: 0;
}

#custom-mango-tags {
    color: #f8ae3b;
    min-width: 4em;
}

#custom-mango-layout,
#custom-power,
#custom-wallpaper {
    color: #f8ae3b;
    padding: 0 7px;
    margin-right: 5px;
    border-right: 1px solid rgba(237, 242, 244, 0.25);
}

#custom-mango-window {
    color: #c7d8de;
    min-width: 10em;
}

#custom-system {
    color: #80cbc4;
    font-size: 12px;
    padding: 0 7px;
    margin-right: 5px;
    border-right: 1px solid rgba(237, 242, 244, 0.25);
}

#wireplumber,
#network {
    color: #c7d8de;
    padding: 0 7px;
}

#clock {
    color: #80cbc4;
    padding: 0 7px;
    margin-right: 4px;
}

#tray {
    background: transparent;
    padding: 0 2px;
}
