// Validated with Zellij 0.44.3; use check-0.44.3.sh to catch host/plugin drift.
options {
    mouse_mode true
    support_kitty_keyboard_protocol false
    default_mode "locked"
    theme "tokyo-night-storm"
    default_layout "default"
    copy_on_select true
    styled_underlines false
    show_startup_tips false
}
keybinds clear-defaults=true {
    locked {
        bind "Ctrl l" {
            SwitchToMode "Normal"
        }
        bind "Alt d" {
            Detach
        }
        bind "Alt f" {
            ToggleFloatingPanes
        }
        bind "Alt 1" {
            GoToTab 1
            SwitchToMode "Locked"
        }
        bind "Alt 2" {
            GoToTab 2
            SwitchToMode "Locked"
        }
        bind "Alt 3" {
            GoToTab 3
            SwitchToMode "Locked"
        }
        bind "Alt 4" {
            GoToTab 4
            SwitchToMode "Locked"
        }
        bind "Alt \\" {
            Run "zsh" "-lc" "exec zellij-project" {
                close_on_exit true
                floating true
                x "30%"
                y "10%"
                width "40%"
                height "80%"
                name "zellij-project"
            }
            SwitchToMode "Locked"
        }
    }
    normal {
        bind "Ctrl l" {
            SwitchToMode "Locked"
        }
        bind "Ctrl p" {
            SwitchToMode "Pane"
        }
        bind "Ctrl t" {
            SwitchToMode "Tab"
        }
        bind "Ctrl n" {
            SwitchToMode "Resize"
        }
        bind "Ctrl h" {
            SwitchToMode "Move"
        }
        bind "Ctrl b" {
            SwitchToMode "Tmux"
        }
        bind "Alt 1" {
            GoToTab 1
            SwitchToMode "Locked"
        }
        bind "Alt 2" {
            GoToTab 2
            SwitchToMode "Locked"
        }
        bind "Alt 3" {
            GoToTab 3
            SwitchToMode "Locked"
        }
        bind "Alt 4" {
            GoToTab 4
            SwitchToMode "Locked"
        }
        bind "Alt f" {
            ToggleFloatingPanes
            SwitchToMode "Locked"
        }
        bind "Alt Shift l" {
            Resize "Increase"
        }
        bind "Alt Shift h" {
            Resize "Decrease"
        }
        bind "Alt {" {
            MoveFocus "Up"
            SwitchToMode "Locked"
        }
        bind "Alt }" {
            MoveFocus "Down"
            SwitchToMode "Locked"
        }
        bind "Alt \\" {
            Run "zsh" "-lc" "exec zellij-project" {
                close_on_exit true
                floating true
                x "30%"
                y "10%"
                width "40%"
                height "80%"
                name "zellij-project"
            }
            SwitchToMode "Locked"
        }
        bind "Alt t" {
            Run "just" "test" {
                floating true
                pinned true
                close_on_exit false
                x "55%"
                y "8%"
                width "42%"
                height "46%"
                name "tests"
            }
            SwitchToMode "Locked"
        }
        bind "Alt p" {
            Run "zsh" "-lc" "zellij action list-panes --all --json | (command -v jq >/dev/null && jq . || cat) | less -R" {
                floating true
                x "12%"
                y "8%"
                width "76%"
                height "72%"
                name "panes"
            }
            SwitchToMode "Locked"
        }
        bind "Ctrl y" {
            LaunchOrFocusPlugin "file:~/.config/zellij/plugins/zellij-layout-picker.wasm" {
                move_to_focused_tab true
            }
            SwitchToMode "Locked"
        }
    }
    pane {
        bind "Ctrl p" "Esc" "Enter" {
            SwitchToMode "Normal"
        }
        bind "Ctrl l" {
            SwitchToMode "Locked"
        }
        bind "h" "Left" {
            MoveFocus "Left"
        }
        bind "j" "Down" {
            MoveFocus "Down"
        }
        bind "k" "Up" {
            MoveFocus "Up"
        }
        bind "l" "Right" {
            MoveFocus "Right"
        }
        bind "p" {
            SwitchFocus
        }
        bind "n" {
            NewPane "Right"
            SwitchToMode "Normal"
        }
        bind "d" {
            NewPane "Down"
            SwitchToMode "Normal"
        }
        bind "r" {
            NewPane "Right"
            SwitchToMode "Normal"
        }
        bind "s" {
            NewPane "stacked"
            SwitchToMode "Normal"
        }
        bind "x" {
            CloseFocus
            SwitchToMode "Normal"
        }
        bind "f" {
            ToggleFocusFullscreen
            SwitchToMode "Normal"
        }
        bind "w" {
            ToggleFloatingPanes
            SwitchToMode "Normal"
        }
        bind "e" {
            TogglePaneEmbedOrFloating
            SwitchToMode "Normal"
        }
    }
    tab {
        bind "Ctrl t" "Esc" "Enter" {
            SwitchToMode "Normal"
        }
        bind "Ctrl l" {
            SwitchToMode "Locked"
        }
        bind "h" "Left" "Up" "k" {
            GoToPreviousTab
        }
        bind "l" "Right" "Down" "j" {
            GoToNextTab
        }
        bind "1" {
            GoToTab 1
            SwitchToMode "Locked"
        }
        bind "2" {
            GoToTab 2
            SwitchToMode "Locked"
        }
        bind "3" {
            GoToTab 3
            SwitchToMode "Locked"
        }
        bind "4" {
            GoToTab 4
            SwitchToMode "Locked"
        }
        bind "n" {
            NewTab
            SwitchToMode "Normal"
        }
        bind "x" {
            CloseTab
            SwitchToMode "Normal"
        }
        bind "r" {
            SwitchToMode "RenameTab"
            TabNameInput 0
        }
        bind "s" {
            ToggleActiveSyncTab
            SwitchToMode "Normal"
        }
    }
    resize {
        bind "Ctrl n" "Esc" "Enter" {
            SwitchToMode "Normal"
        }
        bind "Ctrl l" {
            SwitchToMode "Locked"
        }
        bind "h" "Left" {
            Resize "Increase Left"
        }
        bind "j" "Down" {
            Resize "Increase Down"
        }
        bind "k" "Up" {
            Resize "Increase Up"
        }
        bind "l" "Right" {
            Resize "Increase Right"
        }
        bind "H" {
            Resize "Decrease Left"
        }
        bind "J" {
            Resize "Decrease Down"
        }
        bind "K" {
            Resize "Decrease Up"
        }
        bind "L" {
            Resize "Decrease Right"
        }
        bind "=" "+" {
            Resize "Increase"
        }
        bind "-" {
            Resize "Decrease"
        }
    }
    move {
        bind "Ctrl h" "Esc" "Enter" {
            SwitchToMode "Normal"
        }
        bind "Ctrl l" {
            SwitchToMode "Locked"
        }
        bind "h" "Left" {
            MovePane "Left"
        }
        bind "j" "Down" {
            MovePane "Down"
        }
        bind "k" "Up" {
            MovePane "Up"
        }
        bind "l" "Right" {
            MovePane "Right"
        }
        bind "n" "Tab" {
            MovePane
        }
    }
    tmux {
        bind "Ctrl b" "Esc" "Enter" {
            SwitchToMode "Normal"
        }
        bind "Ctrl l" {
            SwitchToMode "Locked"
        }
        bind "\"" {
            NewPane "Down"
            SwitchToMode "Normal"
        }
        bind "%" {
            NewPane "Right"
            SwitchToMode "Normal"
        }
        bind "z" {
            ToggleFocusFullscreen
            SwitchToMode "Normal"
        }
        bind "c" {
            NewTab
            SwitchToMode "Normal"
        }
        bind "," {
            SwitchToMode "RenameTab"
            TabNameInput 0
        }
        bind "p" {
            GoToPreviousTab
            SwitchToMode "Normal"
        }
        bind "n" {
            GoToNextTab
            SwitchToMode "Normal"
        }
        bind "h" "Left" {
            MoveFocus "Left"
            SwitchToMode "Normal"
        }
        bind "j" "Down" {
            MoveFocus "Down"
            SwitchToMode "Normal"
        }
        bind "k" "Up" {
            MoveFocus "Up"
            SwitchToMode "Normal"
        }
        bind "l" "Right" {
            MoveFocus "Right"
            SwitchToMode "Normal"
        }
        bind "d" {
            Detach
        }
    }
    renametab {
        bind "Esc" "Ctrl c" {
            UndoRenameTab
            SwitchToMode "Tab"
        }
        bind "Enter" {
            SwitchToMode "Normal"
        }
    }
}
