options {
    mouse_mode false
    support_kitty_keyboard_protocol false
}

keybinds {
    locked {
        bind "Ctrl l" { SwitchToMode "Normal"; }
        bind "Ctrl \\" "Alt \\" {
            Run "zellij-sessionizer" {
                close_on_exit true
                floating true
                x "30%"
                y "10%"
                width "40%"
                height "80%"
            }
            SwitchToMode "Locked"
        }
    }

    tab {
        unbind "s" { ToggleActiveSyncTab; SwitchToMode "Normal"; }
    }

    tmux {
        unbind "Ctrl o" {SwitchToMode "Session";}
        bind "Ctrl f" { SwitchToMode "Session"; }
    }

    shared_except "locked" {
        unbind "Ctrl g" { SwitchToMode "Locked"; }
        bind "Ctrl l" { SwitchToMode "Locked"; }
        unbind "Ctrl q" { Quit; }

        bind "Alt f" { ToggleFloatingPanes; }
        bind "Alt Shift l" { Resize "Increase"; }
        bind "Alt Shift h" { Resize "Decrease"; }

        bind "Alt {" { MoveFocus "Up"; SwitchToMode "Normal"; }
        bind "Alt }" { MoveFocus "Down"; SwitchToMode "Normal"; }

        bind "Super 1" { GoToTab 1; SwitchToMode "Normal"; }
        bind "Super 2" { GoToTab 2; SwitchToMode "Normal"; }
        bind "Alt 1" { GoToTab 1; SwitchToMode "Normal"; }
        bind "Alt 2" { GoToTab 2; SwitchToMode "Normal"; }

        bind "Alt t" {
            Run "just" "test" {
                floating true
                pinned true
                close_on_exit false
                x "55%"
                y "8%"
                width "42%"
                height "46%"
                name "tests"
            }
            SwitchToMode "Normal"
        }

        bind "Alt p" {
            LaunchOrFocusPlugin "file:~/.config/zellij/plugins/room.wasm" {
                floating true
                ignore_case true
                quick_jump true
            }
            SwitchToMode "Normal"
        }

        bind "Alt Shift p" {
            Run "zsh" "-lc" "zellij action list-panes --all --json | (command -v jq >/dev/null && jq . || cat) | less -R" {
                floating true
                x "12%"
                y "8%"
                width "76%"
                height "72%"
                name "panes"
            }
            SwitchToMode "Normal"
        }

        bind "Ctrl \\" "Alt \\" "Ctrl '" {
            Run "zellij-sessionizer" {
                close_on_exit true
                floating true
                x "30%"
                y "10%"
                width "40%"
                height "80%"
            }
            SwitchToMode "Locked"
        }

        bind "Ctrl y" {
            LaunchOrFocusPlugin "file:~/.config/zellij/plugins/zellij-layout-picker.wasm" {
                move_to_focused_tab true
            }
        }

    }

    shared_except "scroll" "locked" {
        unbind "Ctrl f" { SwitchToMode "Scroll"; }
    }

    shared_except "session" "locked" {
        unbind "Ctrl o" {SwitchToMode "Session";}
        bind "Ctrl s" { SwitchToMode "Session"; }
    }
}
